In [1]:
print("Welcome")

Welcome

In [3]:
import pandas as pd
html_tables = pd.read_html('https://drive.google.com/open?id=19GIJ2gp8rNx1eb6OHcTND86D1G6A8T4n/Toronto2.html')
print("Ok1")
df = html_tables[0]
df.T # transpose to align

HTTPError: HTTP Error 404: Not Found

In [5]:
from bs4 import BeautifulSoup

html = """
  <table class="details" border="0" cellpadding="5" cellspacing="2" width="95%">
    <tr valign="top">
      <th>Tests</th>
      <th>Failures</th>
      <th>Success Rate</th>
      <th>Average Time</th>
      <th>Min Time</th>
      <th>Max Time</th>
   </tr>
   <tr valign="top" class="Failure">
     <td>103</td>
     <td>24</td>
     <td>76.70%</td>
     <td>71 ms</td>
     <td>0 ms</td>
     <td>829 ms</td>
  </tr>
</table>"""

#soup = BeautifulSoup(s, 'html.parser')
soup = BeautifulSoup(html, 'html.parser')
table = soup.find("table")

# The first tr contains the field names.
headings = [th.get_text().strip() for th in table.find("tr").find_all("th")]

print(headings)

datasets = []
for row in table.find_all("tr")[1:]:
    dataset = dict(zip(headings, (td.get_text() for td in row.find_all("td"))))
    datasets.append(dataset)

print(datasets)

['Tests', 'Failures', 'Success Rate', 'Average Time', 'Min Time', 'Max Time']
[{'Tests': '103', 'Failures': '24', 'Success Rate': '76.70%', 'Average Time': '71 ms', 'Min Time': '0 ms', 'Max Time': '829 ms'}]

In [26]:
from bs4 import BeautifulSoup

html2 = """
  <table class="wikitable">
    <tr>
      <th>Postal code
      </th>
      <th>Borough
      </th>
      <th>Neighborhood
      </th>
   </tr>
   <tr>
        <td>M1A
        </td>
        <td>Not assigned
        </td>
        <td>
        </td>
   </tr>
   <tr>
<td>M2A
</td>
<td>Not assigned
</td>
<td>
</td></tr>
<tr>
<td>M3A
</td>
<td>North York
</td>
<td>Parkwoods
</td></tr>
</table>"""

#soup = BeautifulSoup(s, 'html.parser')
soup = BeautifulSoup(html2, 'html.parser')
table = soup.find("table")

# The first tr contains the field names.
headings = [th.get_text().strip() for th in table.find("tr").find_all("th")]

#print(headings)

datasets = []
for row in table.find_all("tr")[1:]:
    dataset = dict(zip(headings, (td.get_text() for td in row.find_all("td"))))
    #dataset = dict(zip((td.get_text() for td in row.find_all("td"))))
    datasets.append(dataset)

print(datasets)
print("Done")

[{'Postal code': 'M1A\n        ', 'Borough': 'Not assigned\n        ', 'Neighborhood': '\n'}, {'Postal code': 'M2A\n', 'Borough': 'Not assigned\n', 'Neighborhood': '\n'}, {'Postal code': 'M3A\n', 'Borough': 'North York\n', 'Neighborhood': 'Parkwoods\n'}]
Done

In [33]:
data1=pd.DataFrame(datasets)
data1.head()

                  Borough Neighborhood    Postal code
0  Not assigned\n                   \n  M1A\n
1          Not assigned\n           \n          M2A\n
2            North York\n  Parkwoods\n          M3A\n

In [24]:
import pandas as pd

d1 = datasets
#d1 = {'Postal code': 'M1A\n        ', 'Borough': 'Not assigned\n        ', 'Neighborhood': '\n'}

#columns=['Postal code', 'Borough','Neighborhood']
df = pd.DataFrame.from_dict(datasets,orient='index')

print(df)
df.head()
df1 = df.T
df1.head()

AttributeError: 'list' object has no attribute 'values'

In [18]:
print("afdsghd")

afdsghd

In [29]:
from xml.etree.ElementTree import fromstring

HTML = """
<table class="details" border="0" cellpadding="5" cellspacing="2" width="95%">
  <tr valign="top">
    <th>Tests</th>
    <th>Failures</th>
    <th>Success Rate</th>
    <th>Average Time</th>
    <th>Min Time</th>
    <th>Max Time</th>
  </tr>
  <tr valign="top" class="Failure">
    <td>103</td>
    <td>24</td>
    <td>76.70%</td>
    <td>71 ms</td>
    <td>0 ms</td>
    <td>829 ms</td>
  </tr>
  <tr valign="top" class="whatever">
    <td>A</td>
    <td>B</td>
    <td>C</td>
    <td>D</td>
    <td>E</td>
    <td>F</td>
  </tr>
</table>"""

tree = fromstring(HTML)
rows = tree.findall("tr")
headrow = rows[0]
datarows = rows[1:]

for num, h in enumerate(headrow):
    data = ", ".join([row[num].text for row in datarows])
    #print "{0:<16}: {1}".format(h.text, data)
data

'829 ms, F'

In [31]:
import re
# input args: html string
# output: tables as a list, column max length
def extract_html_tables(html):
  tables=[]
  maxlen=0
  rex1=r'<table.*?/table>'
  rex2=r'<tr.*?/tr>'
  rex3=r'<(td|th).*?/(td|th)>'
  s = re.search(rex1,html,re.DOTALL)
  while s:
    t = s.group()  # the table
    s2 = re.search(rex2,t,re.DOTALL)
    table = []
    while s2:
      r = s2.group() # the row 
      s3 = re.search(rex3,r,re.DOTALL)
      row=[]
      while s3:
        d = s3.group() # the cell
        #row.append(strip_tags(d).strip() )
        row.append(d.strip() )

        r = re.sub(rex3,'',r,1,re.DOTALL)
        s3 = re.search(rex3,r,re.DOTALL)

      table.append( row )
      if maxlen<len(row):
        maxlen = len(row)

      t = re.sub(rex2,'',t,1,re.DOTALL)
      s2 = re.search(rex2,t,re.DOTALL)

    html = re.sub(rex1,'',html,1,re.DOTALL)
    tables.append(table)
    s = re.search(rex1,html,re.DOTALL)
  return tables, maxlen

html = """
  <table class="details" border="0" cellpadding="5" cellspacing="2" width="95%">
    <tr valign="top">
      <th>Tests</th>
      <th>Failures</th>
      <th>Success Rate</th>
      <th>Average Time</th>
      <th>Min Time</th>
      <th>Max Time</th>
   </tr>
   <tr valign="top" class="Failure">
     <td>103</td>
     <td>24</td>
     <td>76.70%</td>
     <td>71 ms</td>
     <td>0 ms</td>
     <td>829 ms</td>
  </tr>
</table>"""

extract_html_tables(html)

([[['<th>Tests</th>',
    '<th>Failures</th>',
    '<th>Success Rate</th>',
    '<th>Average Time</th>',
    '<th>Min Time</th>',
    '<th>Max Time</th>'],
   ['<td>103</td>',
    '<td>24</td>',
    '<td>76.70%</td>',
    '<td>71 ms</td>',
    '<td>0 ms</td>',
    '<td>829 ms</td>']]],
 6)

In [ ]:
import pandas as pd
import html5lib
data=pd.read_html('http://www.espn.com/nhl/statistics/player/_/stat/points/sort/points/year/2015/seasontype/2',skiprows=1)

In [ ]:
#convert list to dataframe
data1=pd.DataFrame(Data)