In [1]:
print("Welcome")

Welcome

**Library**

In [3]:
import pandas as pd
from pandas.io.json import json_normalize  # tranform JSON file into a pandas dataframe

import numpy as np

from bs4 import BeautifulSoup

# Matplotlib and associated plotting modules
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as colors

import seaborn as sns
from urllib.request import urlopen

import requests
# import k-means from clustering stage
from sklearn.cluster import KMeans

print("Library imported 56.")

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Library imported 56.

In [4]:
import folium # map rendering library
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
print("Library imported 57.")

Library imported 57.

In [5]:
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df = pd.read_html(link, header = 0)[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [6]:
df.to_csv (r'D:\Workspace\data\postal_Toronto.csv', index = None, header=True) 
print("Done1")

Done1

In [100]:
areas = ["Colaba","Apollo Bandar","Fort","Churchgate","Nariman Point"
        ,"Marine Lines","Walkeshwar","Malabar Hill","Kalbadevi"
        ,"Bhuleshwar","Masjid Bandar","Darukhana","Pydhoni","Nagpada","Dongri","Byculla","Grand Road"
        ,"Mazgaon","Mumbai Central","Mahalaxmi","Worli"
]



full_address = []
 
for area in areas:
   
  full_address.append(area + ", Mumbai")

#print("full_address",full_address)
#print("areas",areas)

full_address ['Colaba, Mumbai', 'Apollo Bandar, Mumbai', 'Fort, Mumbai', 'Churchgate, Mumbai', 'Nariman Point, Mumbai', 'Marine Lines, Mumbai', 'Walkeshwar, Mumbai', 'Malabar Hill, Mumbai', 'Kalbadevi, Mumbai', 'Bhuleshwar, Mumbai', 'Masjid Bandar, Mumbai', 'Darukhana, Mumbai', 'Pydhoni, Mumbai', 'Nagpada, Mumbai', 'Dongri, Mumbai', 'Byculla, Mumbai', 'Grand Road, Mumbai', 'Mazgaon, Mumbai', 'Mumbai Central, Mumbai', 'Mahalaxmi, Mumbai', 'Worli, Mumbai']
areas ['Colaba', 'Apollo Bandar', 'Fort', 'Churchgate', 'Nariman Point', 'Marine Lines', 'Walkeshwar', 'Malabar Hill', 'Kalbadevi', 'Bhuleshwar', 'Masjid Bandar', 'Darukhana', 'Pydhoni', 'Nagpada', 'Dongri', 'Byculla', 'Grand Road', 'Mazgaon', 'Mumbai Central', 'Mahalaxmi', 'Worli']

In [0]:

dic1 = {"Neighborhood": areas,"Address":full_address}
#dic1

In [102]:
df2 = pd.DataFrame.from_dict(dic1)
df2

      Neighborhood                 Address
0           Colaba          Colaba, Mumbai
1    Apollo Bandar   Apollo Bandar, Mumbai
2             Fort            Fort, Mumbai
3       Churchgate      Churchgate, Mumbai
4    Nariman Point   Nariman Point, Mumbai
5     Marine Lines    Marine Lines, Mumbai
6       Walkeshwar      Walkeshwar, Mumbai
7     Malabar Hill    Malabar Hill, Mumbai
8        Kalbadevi       Kalbadevi, Mumbai
9       Bhuleshwar      Bhuleshwar, Mumbai
10   Masjid Bandar   Masjid Bandar, Mumbai
11       Darukhana       Darukhana, Mumbai
12         Pydhoni         Pydhoni, Mumbai
13         Nagpada         Nagpada, Mumbai
14          Dongri          Dongri, Mumbai
15         Byculla         Byculla, Mumbai
16      Grand Road      Grand Road, Mumbai
17         Mazgaon         Mazgaon, Mumbai
18  Mumbai Central  Mumbai Central, Mumbai
19       Mahalaxmi       Mahalaxmi, Mumbai
20           Worli           Worli, Mumbai

In [98]:
for  neighborhood,address in zip(df2['Neighborhood'], df2['Address']):
     print("neighborhood:", neighborhood)
     print("address",address)

neighborhood: Colaba
address Colaba, Mumbai
neighborhood: Apollo Bandar
address Apollo Bandar, Mumbai
neighborhood: Fort
address Fort, Mumbai
neighborhood: Churchgate
address Churchgate, Mumbai
neighborhood: Nariman Point
address Nariman Point, Mumbai
neighborhood: Marine Lines
address Marine Lines, Mumbai
neighborhood: Walkeshwar
address Walkeshwar, Mumbai
neighborhood: Malabar Hill
address Malabar Hill, Mumbai
neighborhood: Girgaon Chowpatty
address Girgaon Chowpatty, Mumbai
neighborhood: Kalbadevi
address Kalbadevi, Mumbai
neighborhood: Bhuleshwar
address Bhuleshwar, Mumbai
neighborhood: Masjid Bandar
address Masjid Bandar, Mumbai
neighborhood: Darukhana
address Darukhana, Mumbai
neighborhood: Pydhoni
address Pydhoni, Mumbai
neighborhood: Nagpada
address Nagpada, Mumbai
neighborhood: Dongri
address Dongri, Mumbai
neighborhood: Byculla
address Byculla, Mumbai
neighborhood: Grand Road
address Grand Road, Mumbai
neighborhood: Mazgaon
address Mazgaon, Mumbai
neighborhood: Mumbai Central
address Mumbai Central, Mumbai
neighborhood: Mahalaxmi
address Mahalaxmi, Mumbai
neighborhood: Worli
address Worli, Mumbai

In [103]:
borough = 'South Mumbai'
data = []
for  neighborhood,address in zip(df2['Neighborhood'], df2['Address']):
  #print("neighborhood:", neighborhood)
  #print("address:", address)
  geolocator = Nominatim(user_agent="ny_explorer")
  location = geolocator.geocode(address)
  latitude = location.latitude
  longitude = location.longitude
  #print("latitude:", latitude)
  #print("longitude:", longitude)
  data.append([neighborhood,borough,latitude,longitude])

col_names =  ['Neighborhood', 'Borough', 'Latitude','Longitude']
neighborhoods = pd.DataFrame(data,columns=col_names)
print("dtypes : ", neighborhoods.dtypes)
print("rows : ", neighborhoods.shape[0])
neighborhoods.head(20)

neighborhood: Colaba
address: Colaba, Mumbai
latitude: 18.915091
longitude: 72.8259691
neighborhood: Apollo Bandar
address: Apollo Bandar, Mumbai
latitude: 18.9183748
longitude: 72.8314429
neighborhood: Fort
address: Fort, Mumbai
latitude: 18.9332665
longitude: 72.8345146
neighborhood: Churchgate
address: Churchgate, Mumbai
latitude: 18.9359567
longitude: 72.8273404
neighborhood: Nariman Point
address: Nariman Point, Mumbai
latitude: 18.9259514
longitude: 72.8232083
neighborhood: Marine Lines
address: Marine Lines, Mumbai
latitude: 18.9456701
longitude: 72.823781
neighborhood: Walkeshwar
address: Walkeshwar, Mumbai
latitude: 18.9553434
longitude: 72.8079469
neighborhood: Malabar Hill
address: Malabar Hill, Mumbai
latitude: 18.9581616
longitude: 72.8033665
neighborhood: Kalbadevi
address: Kalbadevi, Mumbai
latitude: 18.9492575
longitude: 72.8279382
neighborhood: Bhuleshwar
address: Bhuleshwar, Mumbai
latitude: 18.9537706
longitude: 72.8274755
neighborhood: Masjid Bandar
address: Masjid Bandar, Mumbai
latitude: 18.953598550000002
longitude: 72.8381264997544
neighborhood: Darukhana
address: Darukhana, Mumbai
latitude: 18.9770363
longitude: 72.8490768
neighborhood: Pydhoni
address: Pydhoni, Mumbai
latitude: 18.9539939
longitude: 72.8323786
neighborhood: Nagpada
address: Nagpada, Mumbai
latitude: 18.9681782
longitude: 72.8286009
neighborhood: Dongri
address: Dongri, Mumbai
latitude: 18.9622265
longitude: 72.836795
neighborhood: Byculla
address: Byculla, Mumbai
latitude: 18.9766219
longitude: 72.8327936
neighborhood: Grand Road
address: Grand Road, Mumbai
latitude: 18.9387711
longitude: 72.8353355
neighborhood: Mazgaon
address: Mazgaon, Mumbai
latitude: 18.9680519
longitude: 72.84001187036267
neighborhood: Mumbai Central
address: Mumbai Central, Mumbai
latitude: 18.9695855
longitude: 72.8193152
neighborhood: Mahalaxmi
address: Mahalaxmi, Mumbai
latitude: 18.9825679
longitude: 72.82416
neighborhood: Worli
address: Worli, Mumbai
latitude: 19.0116962
longitude: 72.8180702
dtypes :  Neighborhood     object
Borough          object
Latitude        float64
Longitude       float64
dtype: object
rows :  21

      Neighborhood       Borough   Latitude  Longitude
0           Colaba  South Mumbai  18.915091  72.825969
1    Apollo Bandar  South Mumbai  18.918375  72.831443
2             Fort  South Mumbai  18.933266  72.834515
3       Churchgate  South Mumbai  18.935957  72.827340
4    Nariman Point  South Mumbai  18.925951  72.823208
5     Marine Lines  South Mumbai  18.945670  72.823781
6       Walkeshwar  South Mumbai  18.955343  72.807947
7     Malabar Hill  South Mumbai  18.958162  72.803366
8        Kalbadevi  South Mumbai  18.949258  72.827938
9       Bhuleshwar  South Mumbai  18.953771  72.827476
10   Masjid Bandar  South Mumbai  18.953599  72.838126
11       Darukhana  South Mumbai  18.977036  72.849077
12         Pydhoni  South Mumbai  18.953994  72.832379
13         Nagpada  South Mumbai  18.968178  72.828601
14          Dongri  South Mumbai  18.962226  72.836795
15         Byculla  South Mumbai  18.976622  72.832794
16      Grand Road  South Mumbai  18.938771  72.835335
17         Mazgaon  South Mumbai  18.968052  72.840012
18  Mumbai Central  South Mumbai  18.969586  72.819315
19       Mahalaxmi  South Mumbai  18.982568  72.824160

In [0]:
df2.to_csv("Mumbai_locations.csv")

### Use geopy library to get the latitude and longitude values of New York City.
### In order to define an instance of the geocoder, we need to define a user_agent. We will name our agent ny_explorer, as shown below.

### Create a map of Mumbai with neighborhoods superimposed on top.

In [12]:
map_mumbai = folium.Map(location=[latitude, longitude], zoom_start=14)
map_mumbai

In [0]:

# add markers to map
for lat, lng, borough, neighborhood in zip(neighborhoods['Latitude'], neighborhoods['Longitude'], neighborhoods['Borough'], neighborhoods['Neighborhood']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_mumbai)  
    
map_mumbai